{{define "header"}}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Titulo}} - Biblioteca Digital</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="margin-80 ">
    <nav>
        <h1>Biblioteca Digital</h1>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/libros">Libros</a></li>
            <li><a href="/libros">Usuarios</a></li>
            <li><a href="/Prestamos">Préstamos</a></li>
        </ul>
    </nav>
    <main>
{{end}}

{{define "footer"}}
    </main>
    <footer>
        <p>Sistema de Gestión de Libros Electrónicos - POO con Go | 2026</p>
    </footer>
</body>
</html>
{{end}}
